*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}

body{
    background: white;
    background-repeat: repeat;
}

/*____________________*/
/*____________________*/
/*CABECERA*/
header{
    position: fixed;
    margin: auto;
    width: 100%;
    height: 83px;
    background: #5f82e4;
    z-index: 1;
}

#logo{
    position: absolute;
    top: 17px;
    left: 17px;
    width: 188px;
    height: 47px;
}

header #logo img{
    position: absolute;
    width: 210px;
    height: 47px;
}

/*____________________*/
/*____________________*/
/*NAV*/
#princi{
    position: fixed;
    top: 83px;
    width: 100%;
    margin: auto;
    height: 45px;
    background: #496ccc;
    z-index: 1;
    /*border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;*/
}

#princi #primero{
    position:fixed;
    top: 83px;
    left: 0px;
    width: 100%;
    height: 45px;
}

#princi #primero #menu{
    position: fixed;
    top: 91px;
    left: 2%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #menu label img{
    position: relative;
    width: 30px;
}

#princi #primero #menu #check{
    display: none;
}

#princi #primero #menu #check:checked ~ #meniu{
    width: 300px;
}

#meniu{
    position: fixed;
    top: 128px;
    left: 0;
    width: 0px;
    height: 100vh;
    background: #2d3e50;
    z-index: 1;
    transition: all 300ms;
    overflow: hidden;
}

#meniu ul li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 300px;
}

#meniu ul li:hover{
    background: rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px white;
}









#princi #primero #inicio{
    position: fixed;
    top: 96px;
    left: 10%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #bene{
    position: fixed;
    top: 96px;
    left: 17%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #serv{
    position: fixed;
    top: 96px;
    left: 27%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #noti{
    position: fixed;
    top: 96px;
    left: 42%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #revi{
    position: fixed;
    top: 96px;
    left: 53%;
    float: left;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

#princi #primero #user{
    position: fixed;
    top: 96px;
    right: 5%;
    float: right;
    line-height: 20px;
    text-align: center;
    font-size: 15px;
    color: whitesmoke;
}

/*____________________*/
/*____________________*/
/*FORMULARIO*/

#titulo{
    position: relative;
    top: 128px;
    height: 40px;
    width: 100%;
    background-color: rgb(240, 184, 111);
}

#titulo ul{
    position: relative;
    top: 12px;
}

#titulo ul {
    width: 500px;
    left: 30px;
    color: #444444;
}

#form{
    position: relative;
    top: 128px;
    float: left;
    height: 400px;
    width: 100%;
    background-color: #ffffff;
}

#form form div{
    float: left;
}

#form form div label{    
    display: block;
    color: #a3a3a3;
    font-size: 16px;
    position: relative;
    line-height: 20px;
    margin: 10px;
}

#form form div input{
    display: block;
    background: rgba(0, 0, 0, 0.185);
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px;
    margin: 7px;
}

#form form div select{
    display: block;
    background: rgba(0, 0, 0, 0.185);
    border: none;
    outline: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 2px;
    font-size: 14px;
    line-height: 22px;
    margin: 7px;
}

#form form #btnsubmit{
    position: relative;
    width: 100%;
    top: 200px;
}

#form #btnsubmit ul{
    width: 100px;
    height: 100px;
    top: 200px;
    left: 50%;
}

#form #btnsubmit .btn-submit{
    width: 100px;
    height: 25px;
    font-size: 14px;
    background-color: #d1cece;
    color: #353535;
    cursor: pointer;
    transition: all 0.5s ease;
    text-align: center;
}

#form #btnsubmit .btn-submit:hover{
    background: #b1adad;
}



/*____________________*/
/*____________________*/
/*FOOTER*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background: #70a4e0;
    text-align: center;
}

footer div{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: rgb(136, 135, 135);    
    line-height:30px;
    font-size: 15px;
    text-align: center;
}