.App {
  text-align: center;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header{
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  height: 83px;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
}

header .App-logo{
  position: absolute;
  top: 20px;
  left: 25px;
  width: 200px;
  height: 46px;
}

.princi{
  position: fixed;
  top: 83px;
  width: 100%;
  margin: auto;
  height: 45px;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  box-shadow: 0px 2px 20px #222;
}

.princi #primero{
  position:fixed;
  top: 83px;
  left: 0px;
  width: 100%;
  height: 45px;  
  list-style: none;
}

.princi #primero #menu{
  position: fixed;
  top: 91px;
  left: 2%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  height: 30px;
}

.princi #primero #menu .icon-menu{
  height: 30px;
}

.princi #primero #menu label img{
  position: relative;
  width: 30px;
  height: 30px;
}

.princi #primero #menu #check{
  display: none;
}

.princi #primero #menu #check:checked ~ #meniu{
  width: 300px;
}

#meniu{
  position: fixed;
  top: 128px;
  left: 0;
  width: 0px;
  height: 100vh;
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  transition: all 300ms;
  overflow: hidden;
  list-style-type:none;
}


#meniu ul li{
  list-style: none;
  padding: 16px;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px -20px;
}

#meniu ul li:hover{
  background: rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px white;
}

.princi #primero #inicio{
  position: fixed;
  top: 96px;
  left: 10%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #bene{
  position: fixed;
  top: 96px;
  left: 17%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #serv{
  position: fixed;
  top: 96px;
  left: 27%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #noti{
  position: fixed;
  top: 96px;
  left: 42%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #revi{
  position: fixed;
  top: 96px;
  left: 53%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #user{
  position: fixed;
  top: 96px;
  right: 5%;
  float: right;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.quest {
  width: 680px;
  height: 300px;
}

.preguntas {
  background: pink;
  width: 430px;
  height: 300px;
  float: left;
}

.respuesta {
  background: lightblue;
  width: 250px;
  height: 300px;
  float: right;
}

.p1 {
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.p2 {
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.p3 {
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.p4 {
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.r1 {
  width: 250px;
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.r2 {
  width: 250px;
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.r3 {
  width: 2280px;
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}

.r4 {
  width: 228px;
  padding: 9px;
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin: 0 auto;
}


/*____________________*/
/*____________________*/
/*SECTION*/
section{
  position: relative;
  top: 128px;
  margin: auto;
  width: 100%;
  height: 299px;
}

section ul li{

  float: left;
  width: 331px;
  height: 299px;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  list-style: none;
  margin: 0px 40px;
  border-radius: 1.8%;
}

section ul li h1{
  margin: 23px 27px;
  font-weight: 100;
  font-size: 25px;
}

section ul li p{
  margin: 23px 28px;
  font-size: 15px;    
}

section ul li img{
  width: 273px;
  height: 83px;
  margin: 1px 29px;
  border-radius: 2%;
}
