.App {
  text-align: center;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header{
  position: fixed;
  top: 0;
  margin: auto;
  width: 100%;
  height: 83px;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
}

header .App-logo{
  position: absolute;
  top: 20px;
  left: 25px;
  width: 200px;
  height: 46px;
}

.princi{
  position: fixed;
  top: 83px;
  width: 100%;
  margin: auto;
  height: 45px;
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  box-shadow: 0px 2px 20px #222;
}

.princi #primero{
  position:fixed;
  top: 83px;
  left: 0px;
  width: 100%;
  height: 45px;  
  list-style: none;
}

.princi #primero #menu{
  position: fixed;
  top: 91px;
  left: 2%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
  height: 30px;
}

.princi #primero #menu .icon-menu{
  height: 30px;
}

.princi #primero #menu label img{
  position: relative;
  width: 30px;
  height: 30px;
}

.princi #primero #menu #check{
  display: none;
}

.princi #primero #menu #check:checked ~ #meniu{
  width: 300px;
}

#meniu{
  position: fixed;
  top: 128px;
  left: 0;
  width: 0px;
  height: 100vh;
  background: #1e3c72;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: 1;
  transition: all 300ms;
  overflow: hidden;
  list-style-type:none;
}


#meniu ul .tile{
  list-style: none;
  padding: 16px;
  color: white;
  cursor: pointer;
  transition: all 300ms;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px -20px;
}

#meniu ul .tile:hover{
  background: rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px white;
}

.princi #primero #inicio{
  position: fixed;
  top: 96px;
  left: 10%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #bene{
  position: fixed;
  top: 96px;
  left: 17%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #serv{
  position: fixed;
  top: 96px;
  left: 27%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #noti{
  position: fixed;
  top: 96px;
  left: 42%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #revi{
  position: fixed;
  top: 96px;
  left: 53%;
  float: left;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}

.princi #primero #user{
  position: fixed;
  top: 96px;
  right: 5%;
  float: right;
  line-height: 20px;
  text-align: center;
  font-size: 15px;
  color: whitesmoke;
}


/*____________________*/
/*____________________*/
/*SECTION*/
section{
  position: relative;
  top: 128px;
  margin: auto;
  width: 100%;
  height: 299px;
}

section ul li{

  float: left;
  width: 331px;
  height: 299px;
  background: #D3CCE3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  list-style: none;
  margin: 0px 40px;
  border-radius: 1.8%;
}

section ul li h1{
  margin: 23px 27px;
  font-weight: 100;
  font-size: 25px;
}

section ul li p{
  margin: 23px 28px;
  font-size: 15px;    
}

section ul li img{
  width: 273px;
  height: 83px;
  margin: 1px 29px;
  border-radius: 2%;
}



/*--------------------*/

.vista {
  padding: 40px;
  padding-top: 20px;
  max-width: 95%;
  margin: auto;
  border: 2px solid rgb(108, 147, 184);
  border-radius: 20px;
}

.item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 2px;
  background-color: #2784db;
  color: #000;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
  width: 85%;
}

.score {
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #008ba3;
  padding: 8px 20px 8px 20px;
  border: solid #d3d3d3 2px;
  /*width: 100%;
  margin-top: 20px;*/
}

.score:hover {
  background: #1a5083;
  text-decoration: none; 
  cursor: pointer;
}

.row {
  padding-top: 5px;
}

#a123 {
  padding: 10px;
  padding-top: 10px;
  max-width: 95%;
  margin: auto;
  border: 2px solid rgb(83, 68, 139);
  border-radius: 20px;
  background-color: #5998fd;
}

.h3 {
  color: #154169;
  padding: 10px;
  text-align: center;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 30px; /*era 50px xd*/
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: 0.5px;
  /*word-spacing: -4px;*/
  font-style: normal;
  font-variant: normal;
}

.h1 {
  color: #154169;
  padding: 30px;
  text-align: left;
  letter-spacing: 0px;
  font-weight: bold;
  font-size: 47px; /*era 50px xd*/
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: 0.5px;
  word-spacing: -4px;
  font-style: normal;
  font-variant: normal;
}

.h1-modal {
  background-color: #154169;
  color: white;
  padding: 40px;
  text-align: center;
  text-align-last: center;
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 50px;
  margin: 0 auto;
  font-family: Verdana, Geneva, sans-serif;
}

.img {
  padding: 30px;
  cursor: pointer;
}