<template>
  <v-container>
    <v-flex xs12>
      <h1>Listar</h1>
    </v-flex>
    <v-flex xs12>
      <v-container align-center justify-center>
        <v-data-table
        :headers="headers"
        :items="items"
        class="elevation-1"
        >
          <template v-slot:items="props">
            <td class="text-xs-center">{{ props.item.nombres }}</td>
            <td class="text-xs-center">{{ props.item.apellidoPat }}</td>
            <td class="text-xs-center">{{ props.item.numDoc }}</td>
            <td class="text-xs-center">{{ props.item.edad }}</td>
          </template>
        </v-data-table>
      </v-container>
    </v-flex>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'List',
  data: () => ({
    headers: [
      {
        text: 'Nombres',
        align: 'center',
        sortable: false,
        value: 'nombres',
      },
      {
        text: 'Apellidos',
        align: 'center',
        sortable: false,
        value: 'apellidoPat',
      },
      {
        text: 'Documento',
        align: 'center',
        sortable: false,
        value: 'numDoc',
      },
      {
        text: 'Edad',
        align: 'center',
        sortable: true,
        value: 'edad',
      }
    ],
    items: [],
  }),
  mounted() {
    axios.get('http://181.66.137.103:8080/').then(
      response => this.items = response.data.results,
    ).catch(
      error => console.error(error),
    );
  }
};
</script>

<style>
</style>
