<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <h1>Registro</h1>
      </v-flex>
      <v-flex
      class="register-card"
      xs12>
        <v-card>
          <v-card-title>
            Registro
          </v-card-title>
          <v-container
          fluid
          grid-list-sm
          >
            <v-layout
            row
            wrap
            >
              <v-flex xs6>
                <v-text-field
                v-model="name"
                label="Nombres"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="lastNameP"
                label="Apellido Paterno"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="lastNameM"
                label="Apellido Materno"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="doc"
                label="Numero Documento"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="add"
                label="Domicilio"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="email"
                label="Correo"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="phone"
                label="Telefono"
                ></v-text-field>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                v-model="age"
                label="Edad"
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-card-actions>
              <v-btn
              @click="register"
              flat
              >
              Registrar
              </v-btn>
            </v-card-actions>
          </v-container>
        </v-card>
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import axios from 'axios';

export default {
  name: 'Register',
  data: () => ({
    name: '',
    lastNameP: '',
    lastNameM: '',
    doc: '',
    add: '',
    phone: null,
    email: '',
    age: null,
  }),
  methods: {
    register() {
      axios.post('http://181.66.137.103:8080/', {
        name: this.name,
        lastNameP: this.lastNameP,
        lastNameM: this.lastNameM,
        doc: this.doc,
        add: this.add,
        phone: this.phone,
        email: this.email,
        age: this.age,
      }).then(
        response => {
          if(response.status === 200) {
            this.name = '';
            this.lastNameP = '';
            this.lastNameM = '';
            this.doc = '';
            this.add = '';
            this.phone = null;
            this.email = '';
            this.age = null;
          }
        },
      ).catch(
        error => console.error(error),
      );
    }
  },
};
</script>

<style>
.register-card {
  margin: 20px 0;
}
</style>
